body {
    background-color:#8d1bb3;
    color: white;
}
.div-main{
    text-align: left;
}
strong{
    font-size: 50px;
}
.authro-color-text{
    color:gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.p-right{
    text-align: right;
}
.p-center{
    text-align: center;
}
.p-left{
    text-align: left;
}
.p-justify{
    text-align: justify;
}