hr{
    height: 2px;
    color: #0F9D58;
    border: none;
    background-color: #0F9D58;
}
.field_set{
    border-color:  #F4B400;
    border-style: solid;
    width: fit-content;
    text-align: center;
    display:inline-block
  }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    text-align: center;
}
input[type=text],[type=password],[type=email],[type=url],[type=number],[type=date],[type=tel] {
    border: 2px solid #F4B400;
    border-radius: 4px;
    height: 25px;
    width: 200px;
}

form{
    display: inline;
}
.hr-underline{
    height: 2px;
    color:#4285F4;
    border: none;
    background-color: #4285F4;
    width: 200px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    color:  white;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    width: 100px;
}